{% extends "layout.html" %}
{% block title %}Available Players{% endblock %}
{% block content %}

<table class="table table-striped table-bordered table-hover table-condensed table-sm">
  <thead class="thead-dark">

    <tr>
      {% for col in scoreboard_column_names %}
        <th scope="col" style="text-align:center">{{ col }}</th>
      {% endfor %}
    </tr>

  </thead>
  {% for row in scoreboard_row_data %}
  <tbody>
    <tr>
      {% for col, row_ in zip(column_names, row) %}
        <td style="text-align:center">{{ row_ }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
